{% extends "admin/change_form.html" %}

{% block content %}
    {{ block.super }}

    <h3>Mark Lesson as Attended</h3>
    <form method="POST" action="">
        {% csrf_token %}
        {{ mark_lesson_form.date.label_tag }} {{ mark_lesson_form.date }}
        <button type="submit" name="mark_lesson_attended" class="button">Mark Lesson Attended</button>
    </form>

    {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
