<!-- lessons/templates/lessons/about.html -->

{% extends 'lessons/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="content-container">
<div class="home-text">
<p>I am a classically-trained soprano with a background in performance and private vocal education. 
</p>    
<p>My performance experience includes solo concert engagements, opera and theater productions, and private events. 
</p>
<p>I teach private voice lessons in-person at my studio and online over the Zoom platform. 
</p>
<p>Students who take lessons with me can expect to improve their vocal technique and musicality in a relaxed and encouraging environment. In my voice studio, I focus on helping students develop and refine excellent technique, with a special emphasis on consistent and beautiful sound production across all registers and a clear and useful understanding of vocal anatomy. 
</p>
<p>My experience as a voice instructor includes work with students aged 7+. I provide instruction in a range of topics related to singing and vocal health, including introductory to advanced-level voice lessons, audition preparation, and vocal/speech coaching. I also offer personalized coaching for students preparing for competitions/evaluations, auditions, or performances.
</p>
<p>When I’m not teaching, I enjoy spending time with my husband and our pets (including Poppy, pictured below). I am an avid gardener and antique enthusiast and love living in and exploring the beautiful Pacific Northwest!
</p>
</div>
</div>
{% endblock %}

