{% extends 'lessons/base.html' %}

{% block content %}
<h2>Your Profile</h2>

<h3>Total Lessons Purchased</h3>
<p>{{ lessons_purchased }} lessons</p>

<h3>Recurring Weekly Lesson</h3>
{% if student_profile.day_of_week %}
    <p>
        Lesson Duration: {{ student_profile.lesson_duration }}<br>
        Day: {{ student_profile.get_day_of_week_display }}<br>
        Time: {{ student_profile.time|date:"H:i" }}
    </p>
{% else %}
    <p>You do not have a recurring weekly lesson scheduled.</p>
{% endif %}
{% endblock %}
