{% extends 'lessons/base.html' %}

{% block content %}
<h2>Your Profile</h2>

{% load custom_filters %}
<table>
    <thead>
        <tr>
            <th>Total Lesson Balance</th>
            <th>Recurring Weekly Lesson</th>
            <th>Lesson Duration</th>
            <th>Day</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ lessons_purchased }} Lessons</td>
            {% if student_profile.day_of_week %}
                <td>                 
                    <p>Yes</p>
                </td>
                <td>                 
                    {{ student_profile.lesson_duration }} Minutes
                </td>
                <td>                 
                    {{ student_profile.get_day_of_week_display }}
                </td>
                <td>                 
                    {{ student_profile.time|date:"H:i" }}
                </td>                    
                {% else %}
                    <td>                 
                        <p>No</p>
                    </td>
                    <td>                       
                        <p></p>
                    </td>
                    <td>                       
                        <p></p>
                    </td>
                    <td>                 
                        <p></p>
                    </td>                 
                {% endif %}
        </tr>
    </tbody>
</table>

{% endblock %}
