<!-- lessons/templates/lessons/student_list.html -->

{% extends 'lessons/base.html' %}

{% block title %}Student List{% endblock %}

{% block content %}
<h1>Student List</h1>
{% if user.is_superuser %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Lessons Left</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.lessons_left }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You do not have permission to view this page.</p>
{% endif %}
{% endblock %}
